/*
 * -----------------------------------
 * ---        WOFI STYLE           ---
 * -----------------------------------
 */

#entry {
  border-radius: 5px;
  padding: 2px 3px 2px 3px;
}

#entry:selected {
  background-color: #101324;
  border-color: transparent;
}

#text {
  padding: 3px;
  background-color: transparent;
  color: #7898c7;
}

#text:selected {
  color: #1793d1;
}

#window {
  padding: 2px;
  background-color: #101324;
  border: 1px solid #7898c7;
  border-radius: 5px;
  font-family: "Roboto, bold";
  font-size: 16px;
}

#input {
  border: 1px solid #7898c7;
  background-color: #101324;
  color: #7898c7;
  padding: 3px 5px 3px 5px;
  border-radius: 5px;
}

#inner-box {
  color: #101324;
  padding: 2px;
  background-color: transparent;
}

#outer-box {
  margin: 15px;
  background-color: transparent;
}

#scroll {
  margin-top: 10px;
  background-color: transparent;
  border: none;
}

#img {
  background-color: transparent;
  padding: 5px;
}
