configuration {
modes:	"drun,ssh,filebrowser";

// Display //

/*	preview-cmd: ;*/
/*	display-window: ;*/
/*	display-windowcd: ;*/
/*	display-run: ;*/
/*	display-ssh: ;*/
/*	display-drun: ;*/
/*	display-combi: ;*/
/*	display-keys: ;*/
/*	display-filebrowser: ;*/
/*	display-recursivebrowser: ;*/

// Appearance //

	location: 7;
	yoffset: -70;
	xoffset: 20;
	fixed-num-lines: true;
	show-icons: true;
	font: "Roboto 13";
}
