/** Global *******************************************/
* {
	all: unset;
	font-family: feather;
	font-family: Roboto-Regular;
}

/** Generic window ***********************************/
.genwin {
	background-color: #161a34;
	border-radius: 16px;
	border: 3px solid #7898C7;
	opacity: 0.95;
}

/** System ********************************************/
.iconcpu,
.iconmem,
.iconbat {
	font-size: 20px;
	font-weight: normal;
	margin-right: 15;
	margin-left: 5;
}

.iconcpu {
	color: #f7768e;
}

.iconmem {
	color: #A099FF;
}

.iconbat {
	color: #1793D1;
}

.cpu_bar,
.mem_bar,
.bright_bar,
.bat_bar,
scale trough {
	all: unset;
	background-color: #283457;
	border-radius: 16px;
	min-height: 16px;
	min-width: 180px;
}

.cpu_bar,
.mem_bar,
.bright_bar,
.bat_bar,
scale trough highlight {
	all: unset;
	border-radius: 16px;
}

.cpu_bar scale trough highlight {
	background-color: #f7768e;
}

.mem_bar scale trough highlight {
	background-color: #A099FF;
}

.bat_bar scale trough highlight {
	background-color: #1793D1;
}

/** Clock ********************************************/
.time_hour,
.time_min {
	color: #1793D1;
	font-size: 50px;
	font-weight: bold;
}

.time_hour {
	margin-left: 20px;
}

/** Date ********************************************/
.date_DAY,
.date_day,
.date_month,
.date_year {
	color: #7898C7;
	font-size: 28px;
	font-weight: bold;
}

.date_DAY {
	margin-top: 10px;
	margin-left: -15px;
}

/** Power buttons ***************************************/
.btn_logout,
.btn_sleep,
.btn_reboot,
.btn_logout,
.btn_poweroff {
	font-size: 36px;
	font-weight: bold;
}

.btn_logout {
	color: #f7768e;
}

.btn_sleep {
	color: #A099FF;
}

.btn_reboot {
	color: #FFAA66;
	margin-right: 4px;
}

.btn_poweroff {
	color: #1793D1;
	margin-right: 2px;
}

/** Home folders ***************************************/
.hddbox {
	background-color: #283457;
	border-radius: 10px;
	margin: 15px;
}

.hddicon {
	color: #1793D1;
	font-family: Roboto-Regular;
	font-size: 48px;
	font-weight: normal;
	margin: 25px 20px 25px 30px;
}

.hdd_label {
	color: #7898C7;
	font-size: 36px;
	font-weight: bold;
	margin: 0px 10px 0px 10px;
}

.fs_sep {
	color: #161a34;
	font-size: 30px;
	font-weight: bold;
}

.iconfolder1,
.iconfolder2,
.iconfolder3,
.iconfolder4,
.iconfolder5,
.iconfolder6,
.label_folder1,
.label_folder2,
.label_folder3,
.label_folder4,
.label_folder5,
.label_folder6 {
	font-family: Roboto-Regular;
	font-size: 20px;
	font-weight: normal;
	margin: 0px 10px 5px 30px;
}

.label_folder1,
.iconfolder1 {
	color: #1793D1;
}

.label_folder2,
.iconfolder2 {
	color: #FFAA66;
}

.label_folder3,
.iconfolder3 {
	color: #A099FF;
}

.label_folder4,
.iconfolder4 {
	color: #f7768e;
}

.label_folder5,
.iconfolder5 {
	color: #8CCF7E;
}

.label_folder6,
.iconfolder6 {
	color: #00B7EB;
}

/** EOF *************************************************/
