* {
  background-image: none;
  box-shadow: none;
}

window {
  background-color: rgba(2, 3, 10, 0.8);
}

button {
  border-radius: 7px 7px 7px 7px;
  border-color: #1793d1;
  text-decoration-color: #1793d1;
  margin: 23px 23px 23px 23px;
  color: #7898c7;
  font-family: Roboto;
  font-size: 17px;
  font-weight: Bold;
  background-color: #161a34;
  border-style: solid;
  border-width: 1.5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 23%;
  opacity: 0.9;
}

button:focus,
button:active,
button:hover {
  background-color: #283457;
  outline-style: solid;
}

#lock {
  background-image: image(
    url("/home/ricky/dotfiles/.config/wlogout/icons/lock.png"),
    url("/usr/local/share/wlogout/icons/lock.png")
  );
}

#logout {
  background-image: image(
    url("/home/ricky/dotfiles/.config/wlogout/icons/logout.png"),
    url("/usr/local/share/wlogout/icons/logout.png")
  );
}

#suspend {
  background-image: image(
    url("/home/ricky/dotfiles/.config/wlogout/icons/suspend.png"),
    url("/usr/local/share/wlogout/icons/suspend.png")
  );
}

#hibernate {
  background-image: image(
    url("/home/ricky/dotfiles/.config/wlogout/icons/hibernate.png"),
    url("/usr/local/share/wlogout/icons/hibernate.png")
  );
}

#shutdown {
  background-image: image(
    url("/home/ricky/dotfiles/.config/wlogout/icons/shutdown.png"),
    url("/usr/local/share/wlogout/icons/shutdown.png")
  );
}

#reboot {
  background-image: image(
    url("/home/ricky/dotfiles/.config/wlogout/icons/reboot.png"),
    url("/usr/local/share/wlogout/icons/reboot.png")
  );
}
